createdAt: "2019-02-03T01:35:09.680Z"
updatedAt: "2019-02-03T01:36:10.245Z"
type: "MARKDOWN_NOTE"
folder: "733bab8b96a9899e94d0"
title: ""
tags: [
  "JS_Arrow_Function"
]
content: ""
isStarred: false
isTrashed: true
