createdAt: "2019-02-06T00:07:19.185Z"
updatedAt: "2019-02-06T00:07:19.185Z"
type: "SNIPPET_NOTE"
folder: "4edb77157485c1f3d23c"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
isStarred: false
isTrashed: false
