createdAt: "2019-02-05T23:35:49.644Z"
updatedAt: "2019-02-05T23:35:49.644Z"
type: "SNIPPET_NOTE"
folder: "733bab8b96a9899e94d0"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
isStarred: false
isTrashed: false
